<header>
    <nav>
        <ul class="menu">
            <li><img id="logo" src="../images/danmarkmodmadspild.jpg"></li>
            <li><a href="../templates/privat.html" th:href="@{privat}">For private</a></li>
            <li><a href="../templates/virksomhed.html" th:href="@{virksomhed}">For virksomheder</a></li>
            <li><a href="../templates/om-os.html" th:href="@{om-os}">Om os</a></li>
            <li><a href="../templates/kontakt.html" th:href="@{kontakt}">Kontakt</a></li>
        </ul>
    </nav>
</header>