<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Forside</title>
</head>
<body>
<div th:insert="fragments/menu"> </div>

<section class="forside-indhold">
    <div class="forside-text"> <h1>Stop madspild</h1> <div class="indryk"><p>På denne side kan du læse om madspild hvad enten du er privatperson
        eller virksomhed</p>
        <h2>Værd at vide om madspild</h2><ul>
            <li>Madspildet i den danske servicesektor udgør 227.000-ton pr. år. Til sammenligning er det samlede madspild fra husholdningerne 261.000-ton pr. år.</li><br>
            <li>Det største madspild i servicesektoren stammer fra detailhandelen, der spilder 163.000 tons pr. år, svarende til 72 % af servicesektorens madspild.</li><br>
            <li>Af detailhandelens madspild står specialforretninger som slagtere, fiskeforretninger og grønthandlere for 12.000 tons pr. år, mens ikke-specialiserede forretninger
                som kiosker, købmænd, supermarkeder og varehuse står for 151.000-ton pr. år.</li><br>


        </ul><p>Klik rundt på siden for at blive klogere <br><br></p>
        <p style="font-size:10px; font-style: italic">Kilde: Kortlægning af madaffald i servicesektoren og Kortlægning af dagrenovation i Danmark
        </p>
    </div></div>
    <div class="forside-billede"> <img class="skrald" src="/images/skrald-kea.jpg"> </div>
</section>

<div th:insert="fragments/footer"> </div>

</body>
</html>