<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/virksomhed.css">

    <title>Title</title>
</head>
<body>
<div th:insert="fragments/menu"></div>
<section class="virk-first-sec">
    <h1 class="virk-head">Vi vil madspil til livs</h1>
    <div class="virk-texthead">
        Hver dag smides næsten 2.000 tons mad ud i Danmark. Madspild kan ikke, hvor end,
        vi gerne ville, helt undgås. Fødevarer der skulle have endt deres dage på en tallerken, når ofte ikke så langt.
        I hele værdikæden for fødevarer - lige fra primærproduktion til detail- og serviceled - går der nemlig alt for
        meget mad til spilde, og det har store økonomiske og miljømæssige omkostninger.
        Men flere virksomheder har taget fat på udfordringen på mange niveauer, og målet er
        at hvert år, bliver skåret mange tons af det samlede spild.
    </div>
    <img class="img-virk-spild" src="/images/madspil-virksomhed.jpg">
</section>
<section class="virk-secund-sec">
    <h2 class="virk-head"> Hvad kunne din virksomhed gøre? </h2>
    <div class="virk-muligheder">
        <div class="card">
            <img class= "virk-pic" src="/images/too-good.png"/>
            <div class="small-headline"> Too good to go</div>
            <div class="small-text"> Målet er, at maden bliver spist og ikke spildt. Hver dag bliver god mad nemlig
                spildt hos restauranter,
                hoteller, supermarkeder og fødevareproducenter - kun fordi det ikke bliver solgt i tide. Too Good To Go
                giver kunder mulighed for at redde lykkeposer med overskudsmad direkte fra forretningerne - til en god
                pris.
            </div>
        </div>
        <div class="card">
            <img class= "virk-pic" src="/images/Fødevarebanken.jpg"/>
            <div class="small-headline"> Fødevarebanken</div>
            <div class="small-text"> <br>Siden 2008 har FødevareBanken modtaget frisk overskudsmad fra producenter, landbrug
                og grossister. Maden bliver derefter leveret til organisationer, derr arbejder med mennesker i svære livssituationer.
                Vi forbinder altså det mad, der er i overskud med behovet for et nærende måltid mad. Derfor kalder vi
                det fra madspild til måltid.
            </div>
        </div>
        <div class="card">
            <img class= "virk-pic" src="/images/procent.jpg"/>
            <div class="small-headline"> Nedsætte pris</div>
            <div class="small-text"> Madspild er der ikke nogen grund til, når I har muligheden for dels at give jeres
                kunder et godt tilbud inden holdbarhedsgarantien, men også at varerne kan blive brugt til noget.
                Supermarkedsgiganter som Coop og Netto har tiltag, der giver mindre madspild, ved at reducerer prisen på
                varer der nærmer sig udløbsdatoen.
            </div>
        </div>
    </div>
</section>

</body>
</html>