/*section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(200px, auto);
    padding-bottom: 1em;
}

section > div {
    !*border: black 1px solid;*!
    padding: 1em;
    background-color: mediumaquamarine;
}

.box-top {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 2fr;
    grid-column: 1/4;
    grid-row: 1/2;
}

.top-box-left {
    background-color: lightgoldenrodyellow;
    opacity: 60%;
}


.box-top > div {
    !*border: black 1px solid;*!
    padding: 1em;
}

.box-bottom {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 2fr;
    grid-column: 1/4;
    grid-row: 2/3;
}

.box-bottom > div {
    !*border: black 1px solid;*!
    padding: 1em;
}

.box-bottom-left {
    display: grid;
    justify-content: end;
}

.social-media-box {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-content: space-evenly;
    justify-items: center;
}

.social-media-box img {
    opacity: 70%;
}

.social-media-box img:hover {
    opacity: 100%;
    transform: scale(1.05);
}

form input {
    font-size: 2em;
    background-color: mediumaquamarine;
    border: black 3px solid;
}

textarea {
    font-size: 2em;
    resize: none;
    font-family: Arial;
    background-color: mediumaquamarine;
    border: black 3px solid;
    min-width: 300px;
}

button {
    font-size: 2em;
    background-color: mediumaquamarine;
    border: black 3px solid;
    color: #6e6f70;
    margin-right: 50px;
}*/

h1 {
    display: grid;
    justify-content: center;
    font-family: Arial;
    margin-bottom: 3em;
}
/*
.gallery-team {
    border-radius: 50%;
}

 */

.navn-teammedlem {
    margin-left: 5px;
    font-weight: bold;
}

.container-gallery {
    display: flex;
    align-content: space-around;
    gap: 1em;
    margin-bottom: 2em;
 }

.container-image{
    border-radius: 50%;
}

.container-name {
    margin-bottom: 1em;
    font-weight: bold;
}

.container-text {
    display: inline;
    /*padding: 5px

     */
}


.container-image {
    border-radius: 50%;
    margin: 1em;
    padding: 1em;

}

.container-box {
    display: flex;
    align-content: space-around;
    max-width: 400px;
}

.navn-teammedlem {
    margin-left: 5px;
    font-weight: bold;
}

@media all and (max-width:800px){

    .container-gallery {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        gap: 1em;
    }

}