nav ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    list-style: none;
    background-color: mediumaquamarine;
    height: 50px;
    align-items: center;
}

nav ul li:hover {
    text-decoration: underline;
}

#logo {
    height: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.forside-indhold{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*margin-top: 2em;*/
}

.forside-text {
    /*display: flex;*/
    align-content: center;
    justify-content: center;
    flex-grow: 1;

    /*width: 80%;*/
}

.indryk{
    padding-left: 10%;
    color: #3c3e40;

}

h2{
    color: black;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

li{
    padding-right: 20%;

}

.skrald {
    flex-grow: 1;
    height: 50%;
    width: 100%;
}

footer{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 20px 10px 5px 10px;
    height: 150px;
    background: #6e6f70;

}

.foot-left{
    font-weight: bold;
    color: #505152;
}

.foot-mid{
    text-align: center;
    justify-content: center;
}

.foot-right{
    text-align: right;
}

.skrald {
    flex-grow: 1;
    height: 50%;
    width: 100%;
}
