
h1 {
    display: grid;
    justify-content: center;
    font-family: Arial;
    margin-bottom: 3em;
}


.navn-teammedlem {
    margin-left: 5px;
    font-weight: bold;
}

.container-gallery {
    display: flex;
    align-content: space-around;
    justify-content: center;
    gap: 1em;
    margin-bottom: 2em;
 }

.container-image{
    border-radius: 50%;
}

.container-name {
    margin-bottom: 1em;
    font-weight: bold;
}

.container-text {
    display: inline;

}


.container-image {
    border-radius: 50%;
    margin: 1em;
    padding: 1em;

}

.container-box {
    display: flex;
    align-content: space-around;
    max-width: 400px;
}

.navn-teammedlem {
    margin-left: 5px;
    font-weight: bold;
}

@media all and (max-width:1040px){

    .container-gallery {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: space-around;
        gap: 1em;
    }

}